Source: gant
Section: devel
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Varun Hiremath <varun@debian.org>, Torsten Werner <twerner@debian.org>
Build-Depends: cdbs, debhelper (>= 6), quilt
Build-Depends-Indep: ant, groovy, java-gcj-compat-dev
Standards-Version: 3.8.0
Homepage: http://gant.codehaus.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/gant
Vcs-Browser: http://svn.debian.org/wsvn/pkg-java/trunk/gant

Package: gant
Architecture: all
Depends: java-gcj-compat | java1-runtime | java2-runtime, groovy
Description: A Groovy way of scripting Ant tasks
 Gant is a tool for scripting Ant tasks using Groovy instead of
 XML to specify the build logic. A Gant build specification is a
 Groovy script and so can bring all the power of Groovy to bear
 directly, something not possible with Ant scripts. Whilst it might be
 seen as a competitor to Ant, Gant uses Ant tasks for many of the
 actions, so Gant is really an alternative way of doing builds using
 Ant, but using a programming language rather than XML to specify the
 build rules.
